<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" xmlns:urdf="http://www.ros.org/wiki/urdf" name="mesh">
    <xacro:macro name="xacro:mesh" params="name parent link xyz rpy visual collision:='visual' rgba:='' scale:=1" >
        <xacro:include filename="$(find reapp_description)/urdf/attach.urdf.xacro" />
        <xacro:attach/>
        <link name="${name}_base_link">
            <visual>
                <geometry>
                    <mesh filename="${visual}" scale="${scale}" />
                </geometry>
                <xacro:if value="${ rgba is not '' }">
                    <material name="${name}_material">
                        <color rgba="${rgba}"/>
                    </material>
                </xacro:if>
            </visual>
            <xacro:if value="${ collision is not '' }">
                <collision>
                    <geometry>
                        <mesh filename="${visual if collision == 'visual' else collision}" scale="${scale}" />
                    </geometry>
                </collision>
            </xacro:if>
        </link>
    </xacro:macro>
</robot>
