<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="attach">
  <xacro:macro name="attach" params="name:=^ parent:=^ link:=^ xyz:=^ rpy:=^ to=''">
    <!-- mount the arm to the robot -->
    <joint name="${name}_base_joint" type="fixed" >
      <origin xyz="${xyz}" rpy="${rpy}" />
      <parent link="${parent}_${link}" />
        <xacro:if value="${ to is not '' }">
            <child link="${to}" />
        </xacro:if>
        <xacro:unless value="${ to is not '' }">
            <child link="${name}_base_link" />
        </xacro:unless>
    </joint>
  </xacro:macro>
</robot>
